/* Author Petter Andersson */

.defaultTextSize {
	font-size: xx-small;
}

.cardBigSize {
	font-size: xx-large;
}

.bigger_text {
	font-size: large;
}

.big_text {
	font-size: 16pt;
}

.biggest_text {
	font-size: 24pt;
}

.bold {
    font-weight: bold;
}

.third-message {
    color: grey;
}

.card {
	height: 228px;
    width: 128px;
	/*line-height: 45px;
    text-align: center;	
    margin: 2px;*/
}

.card_smaller {
	height: 114px;
    width: 64px;
	/*text-align: center;
	margin: 1px;*/
}

.card_board {
	height: 114px;
    width: 64px;
	text-align: center;
}

.card_discard {
	height: 57px;
    width: 32px;
	text-align: center;
}


.card_treasure {
	/*background-image: url('res/Gold.png');*/
	border: chocolate;
    border-style: solid;
}

.card_victory {
	/*background-image: url('res/Estate.png');*/
	border: green;
    border-style: solid;
}

.card_action {
	/*background-image: url('res/Laboratory.png');*/
	border: blue;
    border-style: solid;
}

.card_treasure .value {
	position: relative;
	top: 40%;
	width: 100%;
	text-align: center;

	color: black;
	font-size: 5px;

}

.card_treasure .cost {

}
/*
.card_treasure::before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background: pink;
}
*/

.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Centered text */
.centered-top {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.inline {
	display: inline;
}

.card_container {
	display: inline-flex;
	flex-flow: row wrap;
	/*padding: 5px;*/
}

.interact {
	display: flex;
	padding-right: 30px;
}

.margin_bottom {
	margin-bottom: 30px;
}

.margin_bottom_5 {
	margin-bottom: 5px;
}

.margin_left {
	margin-left: 5px;
}

.margin_left_1 {
	margin-left: 1px;
}

.margin_left_2 {
	margin-left: 2px;
}

.strokeme {
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.strokeme_white {
    color: black;
    text-shadow:
    -1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF;  
}

.info {
	display: flex;
	padding: 5px;
}

.info_child {
	margin: 5px;
}

.info_stats {
	background-color: darkslateblue;
	border-style: ;
	border-color: black;
}

.shopPanel {
	display: flex;
	padding: 5px;
	margin-right: 5px;
}

.shopText { /* Make it better aligned to button*/
	height: 25px;
}

.normalButton {
	border: black;
    border-style: solid;
	height: 25px;
    width: 100px;
    margin-right: 5px;	
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    background-color: rgba(0, 0, 0, 0.7);
}

.bigButton {
	border: black;
    border-style: solid;
	height: 35px;
    width: 50px;
    margin-right: 5px;	
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    background-color: rgba(1, 1, 1, 0.7);
    font-weight: bold;
    font-size: 16pt;
}

.interactButton {
	border: black;
    border-style: solid;
    border-width: 4px;
	height: 50px;
    width: 138px;
    background-color: rgba(0, 0, 0, 0.75);
    font-weight: bold;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 

}

.flex-container {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start; 
	/*
	justify-content: center;
	align-items: center;
	*/
}

.playArea {
	display: flex;
	flex-direction: column;
}

.selected {
	border: yellow;
    border-style: solid;
}

.inactive {
	filter: grayscale(100%);
}

.position_relative {
	position: relative;
}

.position_absolute {
	position: absolute;
}

.noclick {
	pointer-events: none
}

/*height: 114px;
    width: 64px;*/
.outOfStock {
	z-index: 
}

.invis {
	display: none;
	/*visibility:hidden*/
}