/* Author Petter Andersson */

.bold {
    font-weight: bold;
}

.third-message {
    color: grey;
}

.bigger_text {
	font-size: large;
}

.card {
	line-height: 45px;
	height: 228px;
    width: 128px;
    text-align: center;	
    margin: 2px;
}

.card_smaller {
	height: 114px;
    width: 64px;
	text-align: center;
	margin: 1px;
}

.card_board {
	height: 114px;
    width: 64px;
	text-align: center;
}

.card_treasure {
	border: chocolate;
    border-style: solid;
}

.card_victory {
	border: green;
    border-style: solid;
}

.card_action {
	border: blue;
    border-style: solid;
}

.hand {
	display: inline-flex;
	flex-flow: row wrap;
	/*padding: 5px;*/
}

.interact {
	display: flex;
	padding-right: 30px;
}

.margin_bottom {
	margin-bottom: 30px;
}

.player {
	background-color: lightgray;
}

.info {
	display: flex;
	padding: 5px;
}

.info_child {
	margin: 5px;
}

.info_stats {
	background-color: aqua;
	border-style: ;
	border-color: black;
}

.interactButton {
	border: black;
    border-style: solid;
	height: 50px;
    width: 138px;
    background-color: aqua;
    font-weight: bold;
}

.flex-container {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start; 
	/*
	justify-content: center;
	align-items: center;
	*/
}

.inactive {
	filter: grayscale(100%);
}

.invis {
	display: none;
	/*visibility:hidden*/
}